<div class="container gap-4 mx-auto p-2 ">
    <header class="flex justify-between">
        <h3 class="text-2xl font-semibold">Clientes</h3>
        <app-button (click)="openModal('CREATE')" text="Cadastrar" />
    </header>

    <main class="text-black">
        <table class="min-w-full divide-y divide-gray-200 mt-2">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Nome
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Telefone
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Empresa
                    </th>
                    <th scope="col">
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngFor="let client of clients">
                    <td class="px-6 py-4 whitespace-nowrap">{{ client.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ client.email }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ client.telephone }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ getCorporateNameForClient(client.company._id) }}</td>

                    <td class="px-6 py-4 whitespace-nowrap text-right">
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-2" (click)="openModal('UPDATE', client)">
                            Atualizar
                        </button>
                        <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded" (click)="confirmDelete(client)">
                            Deletar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <app-modal [text]="modalText" [isVisible]="isModalVisible" (closeModal)="closeModal()">
        <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
            <div class="mb-2">
                <label class="text-md font-semibold mb-2" for="name">Nome:</label>
                <input class="border rounded w-full py-2 px-3 text-gray-700" id="name" formControlName="name" />
            </div>
            <div class="mb-2">
                <label class="text-md font-semibold mb-2" for="email">Email:</label>
                <input class="border rounded w-full py-2 px-3 text-gray-700" id="email" formControlName="email" />
            </div>
            <div class="mb-2">
                <label class="text-md font-semibold mb-2" for="cnpj">Telefone:</label>
                <input class="border rounded w-full py-2 px-3 text-gray-700" id="telephone" formControlName="telephone" />
            </div>

            <div class="mb-2">
                <label class="text-md font-semibold mb-2" for="company">Selecione a Empresa:</label>
                <select class="border rounded w-full py-2 px-3 text-gray-700" id="company" formControlName="company">
                    <option *ngFor="let company of companies" [value]="company._id">{{ company.corporateName }} - {{ company.companyName }}</option>
                </select>
            </div>

            <div class="flex gap-2 justify-end">
                <button class="bg-blue-950 hover:bg-blue-900 text-white font-semibold py-2 px-4 rounded" type="submit" [disabled]="clientForm.invalid">{{ action === 'CREATE' ? 'Cadastrar' : 'Atualizar' }}</button>
                <button class="bg-red-500 hover:bg-red-400 text-white font-semibold py-2 px-4 rounded" (click)="closeModal()">Cancelar</button>
            </div>
        </form>
    </app-modal>

    <app-modal [text]="deleteModalText" [isVisible]="isDeleteModalVisible" (closeModal)="cancelDelete()">
        <p>Tem certeza que deseja excluir este cliente?</p>
        <div class="flex gap-2 justify-end mt-4">
            <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded" (click)="deleteClient()">Confirmar</button>
            <button class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" (click)="cancelDelete()">Cancelar</button>
        </div>
    </app-modal>

</div>