<div class="container gap-4 mx-auto p-2 ">
    <header class="flex justify-between">
        <h3 class="text-2xl font-semibold">Pedidos</h3>
        <app-button (click)="openModal('CREATE')" text="Cadastrar" />
    </header>

    <main class="text-black">
        <table class="min-w-full divide-y divide-gray-200 mt-2">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Nome
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Descrição
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Preço
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Empresa
                    </th>
                    <th scope="col">
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngFor="let order of orders">
                    <td class="px-6 py-4 whitespace-nowrap">{{ order.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ order.observation }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ order.date }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ getCorporateNameForOrder(order.customer) }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ getCorporateNameForOrder(order.company) }}</td>

                    <td class="px-6 py-4 whitespace-nowrap text-right">
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-2" (click)="openModal('UPDATE',order)">
                            Atualizar
                        </button>
                        <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded" (click)="confirmDelete(order)">
                            Deletar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <app-modal [text]="modalText" [isVisible]="isModalVisible" (closeModal)="closeModal()">
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
            <div class="mb-2">
                <label class="text-md font-semibold mb-2" for="number">Número:</label>
                <input class="border rounded w-full py-2 px-3 text-gray-700" type="number" id="number" formControlName="number" />
            </div>
            <div class="mb-2">
                <label class="text-md font-semibold mb-2" for="observation">Observação:</label>
                <input class="border rounded w-full py-2 px-3 text-gray-700" id="observation" formControlName="observation" />
            </div>
            <div class="mb-2">
                <label class="text-md font-semibold mb-2" for="date">Dia:</label>
                <input class="border rounded w-full py-2 px-3 text-gray-700" type="datetime-local" id="date" formControlName="date" />
            </div>

            <div class="mb-2">
                <label class="text-md font-semibold mb-2" for="client">Selecione o Cliente:</label>
                <select class="border rounded w-full py-2 px-3 text-gray-700" id="client" formControlName="customer">
                    <option *ngFor="let client of clients" [value]="client._id">{{ client.name }}</option>
                </select>
            </div>

            <div class="mb-2">
                <label class="text-md font-semibold mb-2" for="company">Selecione a Empresa:</label>
                <select class="border rounded w-full py-2 px-3 text-gray-700" id="company" formControlName="company">
                    <option *ngFor="let company of companies" [value]="company._id">{{ company.corporateName }} </option>
                </select>
            </div>

            <div class="flex gap-2 justify-end">
                <button class="bg-blue-950 hover:bg-blue-900 text-white font-semibold py-2 px-4 rounded" type="submit" [disabled]="orderForm.invalid">{{ action === 'CREATE' ? 'Cadastrar' : 'Atualizar' }}</button>
                <button class="bg-red-500 hover:bg-red-400 text-white font-semibold py-2 px-4 rounded" (click)="closeModal()">Cancelar</button>
            </div>
        </form>
    </app-modal>

    <app-modal [text]="deleteModalText" [isVisible]="isDeleteModalVisible" (closeModal)="cancelDelete()">
        <p>Tem certeza que deseja excluir este pedido?</p>
        <div class="flex gap-2 justify-end mt-4">
            <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded" (click)="deleteOrder()">Confirmar</button>
            <button class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" (click)="cancelDelete()">Cancelar</button>
        </div>
    </app-modal>

</div>